
body {
  position: relative;
  top: 0;
  z-index: 1;

  width: 45px;
  padding: 20px;

  color: #E43C16;
  font-weight: 400;
  font-size: 20px;
  font-family: 'Ubuntu';
  font-style: normal;
  line-height: 1.6;

 background-color: #9e9b9b;
  opacity: 1;

}

.test{
  position: relative;

  width: 100px;
  height: 120px;

  &__element {
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover {
    background-color: #fff;
  }
}